/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font: 10px system-ui;
}

body {
  line-height: 1.5;
  width: 30rem;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

header {
  background-color: #2740BA;
}

header h1 {
  font-size: 2rem;
  margin-left: 1rem;
  color: #ED706B;  
}